In [12]:
import sys

!which {sys.executable}

/ut3/jerome/miniconda3/envs/wakai/bin/python

In [13]:
import sys
sys.path.insert(0, '../code')

%load init_ipynb

# Hunt+2023 catalog

https://ucc.ar/_clusters/ngc1039/

In [14]:
from catalog import CatalogDownloader

cd = CatalogDownloader(catalog_name="Hunt2023", catalog_type="cluster")
tabs = cd.get_tables_from_vizier(row_limit=-1, save=True)

Data url: https://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/673/A114
Downloading all tables in J/A+A/673/A114 from vizier.
{'J/A+A/673/A114/clusters': 'Main catalogue (Table 3)',
 'J/A+A/673/A114/clustrej': 'Objects rejected from main catalogue',
 'J/A+A/673/A114/crossma': 'All (non-)xmatched clusters (Table B.1)',
 'J/A+A/673/A114/members': 'Member stars of clusters (corrected version)',
 'J/A+A/673/A114/membrej': 'Member stars of rejected clusters'}
Set clobber=True to overwrite.
Set clobber=True to overwrite.
Set clobber=True to overwrite.
Set clobber=True to overwrite.
Set clobber=True to overwrite.

In [15]:
df = tabs[0].to_pandas()
df_mem = tabs[1].to_pandas()
df_mem.head()

,Name,ID,GaiaDR3,inrt,Prob,RA_ICRS,DE_ICRS,pmRA,pmDE,Plx,Gmag,BPmag,RPmag,RV,_RA.icrs,_DE.icrs
0,1636-283,0,6032349260227596544,0,0.747692,249.708525,-28.585117,-1.503,-6.118,0.10850,18.573350,19.163387,17.590090,NaN,249.708532,-28.585090
1,1636-283,0,6032358331198284160,1,1.000000,249.866424,-28.402037,-1.407,-6.418,0.12050,14.002328,15.070900,12.975450,16.4,249.866431,-28.402009
2,1636-283,0,6032358331198285696,1,0.843798,249.865221,-28.399406,-1.430,-6.352,0.06114,16.036104,16.824158,15.149750,NaN,249.865229,-28.399378
3,1636-283,0,6032358331198286080,1,1.000000,249.861159,-28.400698,-1.561,-6.447,0.11180,16.029701,16.752527,15.179749,NaN,249.861167,-28.400669
4,1636-283,0,6032358670488486784,1,1.000000,249.939480,-28.429366,-1.564,-6.553,0.14850,15.495458,16.392687,14.553366,NaN,249.939488,-28.429337

In [16]:
#replace name to be compatible with other catalogs' naming formats
df_mem = df_mem.rename({"name": "Name",
                        "Source": "GaiaDR3",
                        "probs": "Prob",
                        "RA_ICRS": "ra",
                        "DE_ICRS": "dec",
                        "pmRA": "pmra",
                        "pmDE": "pmdec",
                        "Plx": "parallax",
                        "RV": "radial_velocity"
                        }, axis=1)
df_mem

,Name,ID,GaiaDR3,inrt,Prob,ra,dec,pmra,pmdec,parallax,Gmag,BPmag,RPmag,radial_velocity,_RA.icrs,_DE.icrs
0,1636-283,0,6032349260227596544,0,0.747692,249.708525,-28.585117,-1.503,-6.118,0.10850,18.573350,19.163387,17.590090,NaN,249.708532,-28.585090
1,1636-283,0,6032358331198284160,1,1.000000,249.866424,-28.402037,-1.407,-6.418,0.12050,14.002328,15.070900,12.975450,16.40,249.866431,-28.402009
2,1636-283,0,6032358331198285696,1,0.843798,249.865221,-28.399406,-1.430,-6.352,0.06114,16.036104,16.824158,15.149750,NaN,249.865229,-28.399378
3,1636-283,0,6032358331198286080,1,1.000000,249.861159,-28.400698,-1.561,-6.447,0.11180,16.029701,16.752527,15.179749,NaN,249.861167,-28.400669
4,1636-283,0,6032358670488486784,1,1.000000,249.939480,-28.429366,-1.564,-6.553,0.14850,15.495458,16.392687,14.553366,NaN,249.939488,-28.429337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291924,vdBergh_92,7163,3045840104515988992,1,1.000000,106.116546,-11.474387,-4.446,1.700,0.84190,18.107680,19.282660,16.973217,NaN,106.116566,-11.474394
1291925,vdBergh_92,7163,3045840074455065088,1,0.838193,106.136236,-11.471452,-4.228,1.542,0.93000,16.596190,17.493513,15.584210,NaN,106.136255,-11.471459
1291926,vdBergh_92,7163,3045840074453671680,1,0.639341,106.135606,-11.468653,-4.165,1.551,0.78650,16.886219,17.950207,15.875672,NaN,106.135625,-11.468660
1291927,vdBergh_92,7163,3045840654267074048,1,0.738133,106.159649,-11.436082,-4.158,1.572,0.97190,16.914060,17.826698,15.848995,NaN,106.159667,-11.436089
1291928,vdBergh_92,7163,3046211537585833984,1,0.811015,106.285883,-11.502450,-4.120,1.642,0.84690,12.033337,12.243465,11.677808,3.05,106.285902,-11.502458

In [17]:
from catalog import get_tois

tois = get_tois()
# tois.columns.tolist()

In [18]:
tois[tois.Comments.apply(lambda x: 'young' in str(x))]

,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,SG5,...,Stellar Metallicity err,Stellar Mass (M_Sun),Stellar Mass (M_Sun) err,Sectors,Date TOI Alerted (UTC),Date TOI Updated (UTC),Date Modified,Comments,ra_deg,dec_deg
732,146520535,942.01,NaN,3,5,5,3,4,4,4,...,NaN,0.814000,0.097250,5,2019-07-24,2020-05-20,2022-12-14 12:09:24,Probable young K dwarf. Transit is believable ...,76.649625,-20.245614
2902,330135981,3604.01,NaN,3,4,4,3,2,4,4,...,NaN,NaN,NaN,"16,17,56,57",2021-06-23,2023-02-01,2023-04-17 12:02:58,V-shaped; found in faint-star QLP search; no s...,333.501042,56.918981
4902,308300731,5743.01,NaN,3,4,3,3,4,4,4,...,NaN,0.898000,0.109025,"26,53,79,80",2022-09-01,2024-08-25,2024-08-26 00:00:00,radius possibly underestimated; potentially yo...,267.904333,24.427456
5099,236785891,5956.01,TIC 236785891.01,3,4,3,3,2,4,4,...,NaN,0.483975,0.021842,"56,57",2022-11-16,2023-02-03,2023-08-10 00:00:00,V-shaped; large; young host star; ~5 sigma odd...,283.317250,59.817658
5389,435878153,6258.01,NaN,2,4,4,2,4,4,4,...,NaN,0.368918,0.020209,"17,57",2023-04-06,2023-04-06,2024-02-23 00:00:00,low SNR; asymmetric transit shape; flaring pos...,13.085375,20.938875
5806,253864764,6678.01,NaN,1,4,1,1,1,4,4,...,NaN,0.770000,0.092773,67,2023-09-21,2023-09-21,2023-09-25 12:14:10,rotational modulation at 7-8 days may indicate...,283.536292,-36.656858

# cross-match TOI with catalog

In [19]:
import pandas as pd

matches = pd.read_csv('../data/TOIs_GaiaDR3_xmatch.csv')
matches.head()

,angDist,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,...,B_AG,E(BP-RP),b_E(BP-RP),B_E(BP-RP),Lib,RAJ2000,DEJ2000,e_RAJ2000,e_DEJ2000,RADEcorJ2000
0,0.030103,290403522,6798.01,TIC 290403522.01,3,4,4,3,1,4,...,0.0154,0.0063,0.0041,0.0083,PHOENIX,330.957845,-72.440757,0.254609,0.271682,-0.2895
1,0.024988,387295547,6799.01,NaN,3,4,3,3,1,4,...,0.0228,0.0101,0.0080,0.0124,MARCS,312.696456,-58.943253,0.163943,0.208840,0.0303
2,0.032030,254174907,6800.01,NaN,3,4,3,3,1,4,...,NaN,NaN,NaN,NaN,NaN,287.258754,-41.100052,0.249032,0.231111,0.1247
3,0.030395,166495921,6803.01,NaN,3,4,4,3,1,4,...,0.0158,0.0049,0.0019,0.0085,MARCS,305.027544,-48.129507,0.212447,0.193793,0.1994
4,0.032122,100264497,6804.01,NaN,3,4,4,3,1,4,...,NaN,NaN,NaN,NaN,NaN,306.582704,-48.984706,0.250741,0.200123,0.1742

In [20]:
final = pd.merge(df_mem, matches, on='GaiaDR3')
final.head()

,Name,ID,GaiaDR3,inrt,Prob,ra,dec,pmra,pmdec,parallax,...,B_AG,E(BP-RP),b_E(BP-RP),B_E(BP-RP),Lib,RAJ2000,DEJ2000,e_RAJ2000,e_DEJ2000,RADEcorJ2000
0,Alessi_3,69,5510676828723793920,1,1.0,110.369673,-45.567736,-9.7540,11.490,3.5370,...,0.1155,0.0439,0.0353,0.0622,MARCS,110.369735,-45.567787,0.233057,0.281628,-0.0054
1,Alessi_37,87,1984154395449640832,1,1.0,342.410629,46.349983,0.3535,-1.535,1.3950,...,NaN,NaN,NaN,NaN,NaN,342.410626,46.349990,0.160795,0.159302,-0.2545
2,CWNU_129,385,5593780631976865280,1,1.0,117.401917,-34.451103,-4.1380,4.492,0.6765,...,1.1736,0.6288,0.6222,0.6305,A,117.401940,-34.451123,0.171467,0.194577,0.1628
3,Casado_20,1306,2009467558303980800,1,1.0,347.967960,56.862095,-3.2430,-2.640,0.4832,...,1.2352,0.6635,0.6620,0.6649,A,347.967987,56.862107,0.186826,0.175800,-0.2517
4,HSC_1103,2711,466007701130563200,1,1.0,39.891101,62.433306,-3.3330,-1.160,1.3220,...,1.0990,0.5925,0.5916,0.5934,A,39.891133,62.433311,0.222699,0.259085,-0.1443

In [21]:
new_cols = "TOI	TIC ID	Name	GaiaDR3	Prob	TESS Disposition	TFOPWG Disposition	Comments	TESS Mag	TESS Mag err	Source_1	Detection	Epoch (BJD)	Epoch (BJD) err	Period (days)	Period (days) err	Duration (hours)	Duration (hours) err	Depth (mmag)	Depth (mmag) err	Depth (ppm)	Depth (ppm) err	Planet Radius (R_Earth)	Planet Radius (R_Earth) err	Planet Insolation (Earth Flux)	Planet Equil Temp (K)	Planet SNR	Stellar Distance (pc)	Stellar Distance (pc) err	Stellar Eff Temp (K)	Stellar Eff Temp (K) err	Stellar log(g) (cm/s^2)	Stellar log(g) (cm/s^2) err	Stellar Radius (R_Sun)	Stellar Radius (R_Sun) err	Stellar Metallicity	Stellar Metallicity err	Stellar Mass (M_Sun)	Stellar Mass (M_Sun) err	Sectors	Date TOI Alerted (UTC)	Date TOI Updated (UTC)	Date Modified	ra_deg	dec_deg	Pipeline Signal ID	RA	Dec	PM RA (mas/yr)	PM RA err (mas/yr)	PM Dec (mas/yr)	PM Dec err (mas/yr)	DR3Name	RAdeg	DEdeg	errHalfMaj	errHalfMin	errPosAng	SolID	Source_2	RandomI	e_RAdeg	e_DEdeg	RPlx	PM	RADEcor	RAPlxcor	RApmRAcor	RApmDEcor	DEPlxcor	DEpmRAcor	DEpmDEcor	PlxpmRAcor	PlxpmDEcor	pmRApmDEcor	NAL	NAC	NgAL	NbAL	gofAL	chi2AL	epsi	sepsi	Solved	APF	nueff	MatchObsA	Nper	amax	MatchObs	IPDgofha	IPDgofhp	IPDfmp	IPDfow	RUWE	Dup	o_Gmag	FG	e_FG	RFG	Gmag_y	o_BPmag	FBP	e_FBP	RFBP	e_BPmag	o_RPmag	FRP	e_FRP	RFRP	e_RPmag	E(BP/RP)	NBPcont	NBPblend	NRPcont	NRPblend	Mode	BP-G	G-RP	n_RV	o_RV	o_RVd	RVNper	RVS/N	RVgof	RVchi2	RVTdur	RVamp	RVtempTeff	RVtemplogg	RVtemp[Fe/H]	Vatmparam	vbroad	e_Vbroad	o_Vbroad	GRVSmag	e_GRVSmag	o_GRVSmag	RVSS/N	VarFlag	PQSO	PGal	PSS	Teff	b_Teff	B_Teff	logg	b_logg	B_logg	[Fe/H]	b_[Fe/H]	B_[Fe/H]	Dist	b_Dist	B_Dist	A0	b_A0	B_A0	AG	b_AG	B_AG	E(BP-RP)	b_E(BP-RP)	B_E(BP-RP)	Lib	RAJ2000	DEJ2000	e_RAJ2000	e_DEJ2000	RADEcorJ2000	Previous CTOI	Master	SG1A	SG1B	SG2	SG3	SG4	SG5	ESM	TSM	Predicted Mass (M_Earth)	Time Series Observations	Spectroscopy Observations	Imaging Observations".split('\t')

In [22]:
final[new_cols].to_csv(f'../data/{cd.catalog_name}/TOIs_in_{cd.catalog_name}.csv', index=False)