In [1]:
import sys

!which {sys.executable}

/ut3/jerome/miniconda3/envs/wakai/bin/python

In [2]:
import sys
sys.path.insert(0, '../code')

%load init_ipynb

# Hunt+2024 catalog

https://ucc.ar/_clusters/ngc1039/

In [3]:
from catalog import CatalogDownloader

cd = CatalogDownloader(catalog_name="Hunt2024", catalog_type="cluster")
tabs = cd.get_tables_from_vizier(row_limit=-1)

2025-05-15 13:44:28.445 | INFO     | catalog:get_vizier_url:1327 - Data url:
2025-05-15 13:44:28.447 | INFO     | catalog:get_tables_from_vizier:1279 - Downloading all tables in J/A+A/686/A42 from vizier.

{'J/A+A/686/A42/clusters': 'Main catalogue (table 1)',
 'J/A+A/686/A42/crossma': 'All (non-)xmatched clusters',
 'J/A+A/686/A42/members': 'Member stars of clusters (table 2)'}

In [4]:
df = tabs[0].to_pandas()
df_mem = tabs[1].to_pandas()
df_mem.head()

,Name,ID,GaiaDR3,inrt,Prob,RA_ICRS,DE_ICRS,pmRA,pmDE,Plx,Gmag,BPmag,RPmag,RV,_RA.icrs,_DE.icrs
0,ADS_16795,1,1996314203783884544,1,1.0,345.384660,53.575661,17.900614,3.016996,4.764468,15.888477,17.284605,14.729848,NaN,345.384526,53.575648
1,ADS_16795,1,1997123787936918656,1,1.0,349.375671,55.888239,18.823945,3.521466,4.850097,15.854546,17.097689,14.749281,NaN,349.375522,55.888223
2,ADS_16795,1,1997227928003678848,1,1.0,350.228229,56.225701,19.058485,2.543160,4.727565,17.689924,19.592110,16.372536,NaN,350.228076,56.225690
3,ADS_16795,1,1998973608873873152,1,1.0,354.235696,58.135253,19.450099,1.870025,4.581254,16.649845,18.253677,15.427638,NaN,354.235532,58.135244
4,ADS_16795,1,2002532006459866240,1,1.0,342.869732,53.892829,17.181225,3.968470,4.790819,15.987680,17.472708,14.779086,NaN,342.869602,53.892811

In [5]:
#replace name to be compatible with other catalogs' naming formats
df_mem = df_mem.rename({#"Cluster": "Name",
                        # "Source": "GaiaDR3",
                        # "Proba": "Prob",
                        "RA_ICRS": "ra",
                        "DE_ICRS": "dec",
                        "pmRA": "pmra",
                        "pmDE": "pmdec",
                        "Plx": "parallax",
                        "RV": "radial_velocity"
                        }, axis=1)
df_mem.head()

,Name,ID,GaiaDR3,inrt,Prob,ra,dec,pmra,pmdec,parallax,Gmag,BPmag,RPmag,radial_velocity,_RA.icrs,_DE.icrs
0,ADS_16795,1,1996314203783884544,1,1.0,345.384660,53.575661,17.900614,3.016996,4.764468,15.888477,17.284605,14.729848,NaN,345.384526,53.575648
1,ADS_16795,1,1997123787936918656,1,1.0,349.375671,55.888239,18.823945,3.521466,4.850097,15.854546,17.097689,14.749281,NaN,349.375522,55.888223
2,ADS_16795,1,1997227928003678848,1,1.0,350.228229,56.225701,19.058485,2.543160,4.727565,17.689924,19.592110,16.372536,NaN,350.228076,56.225690
3,ADS_16795,1,1998973608873873152,1,1.0,354.235696,58.135253,19.450099,1.870025,4.581254,16.649845,18.253677,15.427638,NaN,354.235532,58.135244
4,ADS_16795,1,2002532006459866240,1,1.0,342.869732,53.892829,17.181225,3.968470,4.790819,15.987680,17.472708,14.779086,NaN,342.869602,53.892811

In [6]:
from catalog import get_tois

tois = get_tois(clobber=False)
tois.tail()

,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,SG5,...,Stellar Mass (M_Sun) err,Sectors,Date TOI Alerted (UTC),Date TOI Updated (UTC),Date Modified,Comments,ra_deg,dec_deg,GaiaDR3_exofop,GaiaDR3_vizier
6475,259381479,7451.01,NaN,3,4,3,3,1,4,4,...,NaN,"18,58,85",2025-05-01,2025-05-01,2025-05-03 12:20:30,found in faint-star QLP search,43.399500,46.174561,NaN,NaN
6476,327249454,7452.01,NaN,3,4,3,3,1,4,4,...,NaN,"17,18,24,57,58,77,78,84,85",2025-05-01,2025-05-01,2025-05-03 12:20:30,found in faint-star QLP search,3.511750,58.167081,NaN,NaN
6477,347944406,7453.01,NaN,3,4,3,3,1,4,4,...,0.222863,"18,58,85",2025-05-01,2025-05-01,2025-05-03 12:20:30,found in faint-star QLP search,34.003542,57.346072,NaN,NaN
6478,130087198,7454.01,NaN,3,4,3,3,1,4,4,...,NaN,"18,58,85",2025-05-01,2025-05-01,2025-05-03 12:20:30,found in faint-star QLP search,37.777375,40.724964,NaN,NaN
6479,196351790,7455.01,NaN,3,4,3,3,1,4,4,...,NaN,"17,57,58,84,85",2025-05-01,2025-05-01,2025-05-03 12:20:30,found in faint-star QLP search; weak even tran...,14.410875,47.522036,NaN,NaN

tois.columns.tolist()

In [7]:
tois.shape

(6480, 66)

tois[tois.Comments.apply(lambda x: 'young' in str(x))]

# cross-match TOI with catalog

In [8]:
import pandas as pd

if True:
    #from astroquery.xmatch
    matches = pd.read_csv('../data/TOIs_GaiaDR3_xmatch.csv')
if False:
    #from vizier query/exofop
    matches = pd.read_csv('../data/TOIs_with_Gaiaid.csv')
    matches['GaiaDR3'] = matches['GaiaDR3_vizier']
matches.tail()

,angDist,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,...,E(BP-RP),b_E(BP-RP),B_E(BP-RP),Lib,RAJ2000,DEJ2000,e_RAJ2000,e_DEJ2000,RADEcorJ2000,GaiaDR3
7740,0.079164,259381479,7451.01,NaN,3,4,3,3,1,4,...,NaN,NaN,NaN,NaN,43.399531,46.174566,0.595016,0.648654,0.2903,434019879918762112
7741,0.006298,327249454,7452.01,NaN,3,4,3,3,1,4,...,0.4886,0.4849,0.4927,A,3.511682,58.167092,0.227478,0.218697,-0.4282,422831666214648448
7742,0.012678,347944406,7453.01,NaN,3,4,3,3,1,4,...,NaN,NaN,NaN,NaN,34.003481,57.346115,0.171583,0.213738,0.1890,458577476430838272
7743,0.025960,130087198,7454.01,NaN,3,4,3,3,1,4,...,0.0495,0.0444,0.0553,MARCS,37.777380,40.724970,0.336897,0.297551,0.0898,338358386869541632
7744,0.045442,196351790,7455.01,NaN,3,4,3,3,1,4,...,0.0049,0.0015,0.0192,PHOENIX,14.410832,47.522054,0.251246,0.213116,-0.0815,402047872787248512

In [9]:
matches.shape

(7745, 205)

In [10]:
final = pd.merge(df_mem, matches, on='GaiaDR3')
final.head()

,Name,ID,GaiaDR3,inrt,Prob,ra,dec,pmra,pmdec,parallax,...,B_AG,E(BP-RP),b_E(BP-RP),B_E(BP-RP),Lib,RAJ2000,DEJ2000,e_RAJ2000,e_DEJ2000,RADEcorJ2000
0,Alessi_3,69,5510676828723793920,1,1.000000,110.369673,-45.567736,-9.754071,11.494923,3.536726,...,0.1155,0.0439,0.0353,0.0622,MARCS,110.369735,-45.567787,0.233057,0.281628,-0.0054
1,Alessi_13,76,4860787013426321664,1,1.000000,52.647359,-35.203716,35.718650,-4.415658,9.433933,...,0.7293,0.4921,0.4895,0.4946,MARCS,52.647165,-35.203696,0.327464,0.453024,-0.2442
2,Alessi_37,87,1983367454361525888,1,0.626075,338.883370,45.834178,-0.084036,-1.751461,1.360051,...,0.4672,0.2504,0.2482,0.2527,PHOENIX,338.883371,45.834186,0.211234,0.201389,-0.3375
3,Alessi_37,87,1984154395449640832,1,1.000000,342.410629,46.349983,0.353507,-1.534548,1.395115,...,NaN,NaN,NaN,NaN,NaN,342.410626,46.349990,0.160795,0.159302,-0.2545
4,CWNU_129,385,5593780631976865280,1,1.000000,117.401917,-34.451103,-4.138013,4.492033,0.676523,...,1.1736,0.6288,0.6222,0.6305,A,117.401940,-34.451123,0.171467,0.194577,0.1628

In [11]:
final.shape

(67, 220)

In [12]:
new_cols = "TOI	TIC ID	Name	GaiaDR3	Prob	TESS Disposition	TFOPWG Disposition	Comments	TESS Mag	TESS Mag err	Source_1	Detection	Epoch (BJD)	Epoch (BJD) err	Period (days)	Period (days) err	Duration (hours)	Duration (hours) err	Depth (mmag)	Depth (mmag) err	Depth (ppm)	Depth (ppm) err	Planet Radius (R_Earth)	Planet Radius (R_Earth) err	Planet Insolation (Earth Flux)	Planet Equil Temp (K)	Planet SNR	Stellar Distance (pc)	Stellar Distance (pc) err	Stellar Eff Temp (K)	Stellar Eff Temp (K) err	Stellar log(g) (cm/s^2)	Stellar log(g) (cm/s^2) err	Stellar Radius (R_Sun)	Stellar Radius (R_Sun) err	Stellar Metallicity	Stellar Metallicity err	Stellar Mass (M_Sun)	Stellar Mass (M_Sun) err	Sectors	Date TOI Alerted (UTC)	Date TOI Updated (UTC)	Date Modified	ra_deg	dec_deg	Pipeline Signal ID	RA	Dec	PM RA (mas/yr)	PM RA err (mas/yr)	PM Dec (mas/yr)	PM Dec err (mas/yr)	DR3Name	RAdeg	DEdeg	errHalfMaj	errHalfMin	errPosAng	SolID	Source_2	RandomI	e_RAdeg	e_DEdeg	RPlx	PM	RADEcor	RAPlxcor	RApmRAcor	RApmDEcor	DEPlxcor	DEpmRAcor	DEpmDEcor	PlxpmRAcor	PlxpmDEcor	pmRApmDEcor	NAL	NAC	NgAL	NbAL	gofAL	chi2AL	epsi	sepsi	Solved	APF	nueff	MatchObsA	Nper	amax	MatchObs	IPDgofha	IPDgofhp	IPDfmp	IPDfow	RUWE	Dup	o_Gmag	FG	e_FG	RFG	Gmag_y	o_BPmag	FBP	e_FBP	RFBP	e_BPmag	o_RPmag	FRP	e_FRP	RFRP	e_RPmag	E(BP/RP)	NBPcont	NBPblend	NRPcont	NRPblend	Mode	BP-G	G-RP	n_RV	o_RV	o_RVd	RVNper	RVS/N	RVgof	RVchi2	RVTdur	RVamp	RVtempTeff	RVtemplogg	RVtemp[Fe/H]	Vatmparam	vbroad	e_Vbroad	o_Vbroad	GRVSmag	e_GRVSmag	o_GRVSmag	RVSS/N	VarFlag	PQSO	PGal	PSS	Teff	b_Teff	B_Teff	logg	b_logg	B_logg	[Fe/H]	b_[Fe/H]	B_[Fe/H]	Dist	b_Dist	B_Dist	A0	b_A0	B_A0	AG	b_AG	B_AG	E(BP-RP)	b_E(BP-RP)	B_E(BP-RP)	Lib	RAJ2000	DEJ2000	e_RAJ2000	e_DEJ2000	RADEcorJ2000	Previous CTOI	Master	SG1A	SG1B	SG2	SG3	SG4	SG5	ESM	TSM	Predicted Mass (M_Earth)	Time Series Observations	Spectroscopy Observations	Imaging Observations".split('\t')

In [13]:
final[new_cols].sort_values(by='TOI', ascending=False).head()

,TOI,TIC ID,Name,GaiaDR3,Prob,TESS Disposition,TFOPWG Disposition,Comments,TESS Mag,TESS Mag err,...,SG2,SG3,SG4,SG5,ESM,TSM,Predicted Mass (M_Earth),Time Series Observations,Spectroscopy Observations,Imaging Observations
2,7111.01,200465781,Alessi_37,1983367454361525888,0.626075,PC,PC,found in faint-star QLP search,12.9436,0.012,...,3,1,4,4,12.5,46.2,87.78,0,0,0
26,7038.01,210904767,HSC_2907,6025147218543620480,0.757498,PC,PC,variable host,8.9498,0.006,...,4,1,4,4,4.3,49.8,9.97,0,2,0
8,6963.01,56658270,CWNU_1129,164800235906366976,1.000000,PC,CP,T Tauri host,12.8131,0.007,...,3,4,4,4,21.8,54.2,60.85,4,0,0
27,6715.01,460950389,IC_2602,5239758155778687360,0.737033,PC,PC,host is a BY Dra variable star; low MES,11.6490,0.006,...,2,3,4,4,10.8,67.3,14.54,3,3,4
25,6705.01,379717270,HSC_2675,5895008644342480640,1.000000,PC,PC,variable host; multiple stars in pixel,10.2734,0.006,...,3,1,4,4,56.8,86.0,317.00,3,0,0

In [15]:
final[new_cols].sort_values(by='TOI', ascending=False).to_csv(f'../data/{cd.catalog_name}/TOIs_in_{cd.catalog_name}.csv', index=False)