In [1]:
import sys
sys.path.insert(0, '../code/')
from catalog import get_nexsci_data

df = get_nexsci_data(table_name="ps", clobber=False)
df.head()

Column definitions:  https://exoplanetarchive.ipac.caltech.edu/docs/API_PS_columns.html

/mnt_ut3/raid_ut3/home/jerome/github/research/project/wakai/notebooks/../code/catalog.py:273: DtypeWarning: Columns (3,4,35,40,45,50,55,60,65,75,123,139,148,153,162,167,183,206,211,216,221,226,231,232,237,242,257,262,267) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fp)

Loaded:  ../data/nexsci_ps.csv

,pl_name,pl_letter,hostname,hd_name,hip_name,tic_id,gaia_id,default_flag,pl_refname,sy_refname,...,sy_jmagstr,sy_hmag,sy_hmagerr1,sy_hmagerr2,sy_hmagstr,sy_kmag,sy_kmagerr1,sy_kmagerr2,sky_coord.ra,sky_coord.dec
0,OGLE-TR-10 b,b,OGLE-TR-10,NaN,NaN,TIC 130150682,Gaia DR2 4056443366649948160,1,<a refstr=TORRES_ET_AL__2008 href=https://ui.a...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,13.692,13.314,0.121,-0.121,13.314&plusmn;0.121,12.856,NaN,NaN,267.867748,-29.876476
1,TOI-4145 A b,b,TOI-4145 A,NaN,NaN,TIC 279947414,Gaia DR2 568619413331898240,0,<a refstr=EXOFOP_TESS_TOI href=https://exofop....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,10.775&plusmn;0.023,10.380,0.028,-0.028,10.380&plusmn;0.028,10.286,0.021,-0.021,39.429744,80.267384
2,KOI-13 b,b,KOI-13,NaN,NaN,TIC 158324245,Gaia DR2 2130632159134827392,0,<a refstr=BORUCKI_ET_AL__2011 href=https://ui....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,9.466&plusmn;0.022,9.455,0.019,-0.019,9.455&plusmn;0.019,9.425,0.014,-0.014,286.971388,46.868246
3,Kepler-44 b,b,Kepler-44,NaN,NaN,TIC 239277658,Gaia DR2 2085222191474854656,0,<a refstr=BONOMO_ET_AL__2011 href=https://ui.a...,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,13.340&plusmn;0.026,12.969,0.025,-0.025,12.969&plusmn;0.025,12.878,0.034,-0.034,300.102351,45.762192
4,KOI-13 b,b,KOI-13,NaN,NaN,TIC 158324245,Gaia DR2 2130632159134827392,0,<a refstr=BATALHA_ET_AL__2013 href=https://ui....,<a refstr=STASSUN_ET_AL__2019 href=https://ui....,...,9.466&plusmn;0.022,9.455,0.019,-0.019,9.455&plusmn;0.019,9.425,0.014,-0.014,286.971388,46.868246

In [2]:
idx = df['default_flag'] == 1
hostnames = df[idx].hostname.unique()
len(hostnames)

3237

In [3]:
#TOI-1430: Orell-Miquel estimated a much older age than Zhang
df.query("hostname=='HD 235088'")[["st_age","pl_name","pl_refname"]]

      st_age      pl_name                                         pl_refname
609      NaN  HD 235088 b  <a refstr=EXOFOP_TESS_TOI href=https://exofop....
1098     3.4  HD 235088 b  <a refstr=POLANSKI_ET_AL__2024 href=https://ui...
5678     0.7  HD 235088 b  <a refstr=ORELL_MIQUEL_ET_AL__2023 href=https:...

In [4]:
#TOI-2076: Hedges+ 154-204; Osborn+ 260-420 Myr
df.query("hostname=='TOI-2076'")[["st_age","pl_name","pl_refname"]]

      st_age     pl_name                                         pl_refname
582    0.340  TOI-2076 d  <a refstr=OSBORN_ET_AL__2022 href=https://ui.a...
793    0.204  TOI-2076 c  <a refstr=HEDGES_ET_AL__2021 href=https://ui.a...
794    0.204  TOI-2076 d  <a refstr=HEDGES_ET_AL__2021 href=https://ui.a...
966      NaN  TOI-2076 d  <a refstr=EXOFOP_TESS_TOI href=https://exofop....
977      NaN  TOI-2076 c  <a refstr=EXOFOP_TESS_TOI href=https://exofop....
1047   2.700  TOI-2076 c  <a refstr=POLANSKI_ET_AL__2024 href=https://ui...
5289   0.204  TOI-2076 b  <a refstr=HEDGES_ET_AL__2021 href=https://ui.a...
5290   0.340  TOI-2076 c  <a refstr=OSBORN_ET_AL__2022 href=https://ui.a...
5505   2.700  TOI-2076 d  <a refstr=POLANSKI_ET_AL__2024 href=https://ui...
5656   0.340  TOI-2076 b  <a refstr=OSBORN_ET_AL__2022 href=https://ui.a...
5657     NaN  TOI-2076 b  <a refstr=EXOFOP_TESS_TOI href=https://exofop....
5658   2.700  TOI-2076 b  <a refstr=POLANSKI_ET_AL__2024 href=https://ui...
5823   0.204  TOI-2076 b  <a refstr=KOKORI_ET_AL__2023 href=https://ui.a...

In [5]:
df = df[idx]

In [66]:
d = df.query("pl_name=='DS Tuc A b'")
ra, dec = d[['ra','dec']].squeeze().values
ra, dec

(np.float64(354.9154673), np.float64(-69.196043))

In [67]:
from catalog import Target
t = Target(ra, dec)

t.query_vizier_param()

In [21]:
import numpy as np

params = ["B-V", "log_R_HK_", "EWLi", "Teff", "Prot"]

for param in params:
    p = t.query_vizier_param(param)
    v = np.nanmean(list(p.values()))
    print(p, v)

WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 2 references in Vizier with `B-V`.
{'I/239/tyc_main': np.float32(0.835), 'V/145/sky2kv5': np.float32(0.835)} 0.835
Found 0 references in Vizier with `log_R_HK_`.
{} nan
Found 1 references in Vizier with `EWLi`.
{'J/A+A/664/A163/tableb1': np.float32(89.4)} 89.4

/tmp/ipykernel_984251/2162159534.py:7: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))

import pandas as pd

data = pd.DataFrame([], columns=['hostname'])
data

In [51]:
import pandas as pd

data = pd.read_csv('../data/youth_indicators_nexsci.csv')
data

      hostname        bv  rhk  li         teff       prot
0   OGLE-TR-10  0.606000  NaN NaN  5702.290032        NaN
1       KOI-13  0.114667  NaN NaN  7847.512429        NaN
2      GJ 1132       NaN  NaN NaN  3359.359888        NaN
3       KELT-7  0.425826  NaN NaN  6717.155085        NaN
4      HATS-61  0.787000  NaN NaN  5479.358262  24.000000
..         ...       ...  ...  ..          ...        ...
78    TOI-1853  0.824000  NaN NaN  4997.199256        NaN
79     HATS-35  0.644000  NaN NaN  6106.953087        NaN
80     TOI-150  0.665000  NaN NaN  5788.523313        NaN
81   HD 213885  0.606222  NaN NaN  5810.933325   1.066915
82    Wolf 327  1.567000  NaN NaN  3579.701462        NaN

[83 rows x 6 columns]

In [62]:
len(data.li.dropna())

0

In [63]:
len(data.rhk.dropna())

0

In [61]:
len(data.prot.dropna())

35

In [47]:
from tqdm.notebook import tqdm
from catalog import Target
import pandas as pd
import numpy as np

params = ["B-V", "log_R_HK_", "EWLi", "Teff", "Prot"]

for i,row in tqdm(df.iterrows()):
    if data.hostname.isin([row.hostname]).sum()==0:
        d = {}
        d['hostname'] = row.hostname

        t = Target(row.ra, row.dec)

        for param in params:
            p = t.query_vizier_param(param)
            try:
                v = np.nanmean(list(p.values()))
            except:
                vals = []
                for x in p.values(): 
                    if isinstance(x, (int, float, str)) and str(x).replace('.', '', 1).isdigit():
                        vals.append(x)
                v = np.nanmean(vals)
            d[param] = v
        s = pd.Series(d).rename({"B-V": "bv", 
                 "log_R_HK_": "rhk", 
                 "EWLi": "li", 
                 "Teff": "teff", 
                 "Prot": "prot"}).to_frame().T
        data = pd.concat([data,s], ignore_index=True)

0it [00:00, ?it/s]

WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 15 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 2 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 21 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 3 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 19 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 11 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 2 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 15 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 2 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 22 references in Vizier with `Teff`.
Found 1 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 3 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 29 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 4 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 46 references in Vizier with `Teff`.
Found 1 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 10 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 23 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 5 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 57 references in Vizier with `Teff`.
Found 1 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 16 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 3 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 18 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 18 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 5 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 45 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 2 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 16 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'e' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 28 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 3 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 14 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 22 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'e' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 20 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 15 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 27 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 2 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 19 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 1 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 31 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'al' not supported by the VOUnit standard. Did you mean alm or alx? [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'as' not supported by the VOUnit standard. Did you mean A or a? [astropy.units.format.vounit]

Found 9 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 34 references in Vizier with `Teff`.
Found 2 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 2 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 15 references in Vizier with `Teff`.
Found 0 references in Vizier with `Prot`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))
WARNING: UnitsWarning: Unit 'x' not supported by the VOUnit standard.  [astropy.units.format.vounit]
WARNING: UnitsWarning: Unit 'Earth' not supported by the VOUnit standard.  [astropy.units.format.vounit]

Found 4 references in Vizier with `B-V`.
Found 0 references in Vizier with `log_R_HK_`.
Found 0 references in Vizier with `EWLi`.
Found 58 references in Vizier with `Teff`.

/tmp/ipykernel_984251/948069822.py:18: RuntimeWarning: Mean of empty slice
  v = np.nanmean(list(p.values()))

TypeError: the resolved dtypes are not compatible with add.reduce. Resolved (dtype('<U32'), dtype('<U32'), dtype('<U64'))

In [49]:
data.to_csv('../data/youth_indicators_nexsci.csv', index=False)